// Global Bourbon Mixins
// -> Actually, nevermind.
// @import "bourbon";
// @import "home";
// @import "users";

// Global Compass Mixins
@import "compass";
@import "compass/css3/images";

// Reset
@import "compass/reset";

// Variables
@import "includes/_colors.scss";
@import "includes/_vars.scss";

// Grid System
@import "includes/_grid.scss";

// Base
@import "includes/_base.scss";

// Components
@import "includes/_scrollbars.scss";

// Animations
@import "includes/_animations.scss";

// Forms
@import "includes/_forms.scss";

// Buttons
@import "includes/_buttons.scss";

// Typography
@import "includes/_type.scss";
@import "../fonts_cache/_fonts_cache.scss";
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
// @import "fonts/satisfy/font.css";
// @import "fonts/abril/font.css";

// Modals
@import "includes/_modal.scss";

// Browsers
@import "includes/_browser.scss";

// Icons
@import "includes/_stargazer.scss";

// Navigation
@import "includes/_nav.scss";

// Tooltips
@import "includes/_tooltips.scss";

// Stickem
@import "includes/_stickem.scss";

// Custom Variables
$thickness: 4px;

// Custom Styles
body {
  box-shadow: 0 0 20px black;
  // background: $blue;
  // color: white;
  // font-size: 20px;
  padding-left: 66px;
  font-family: $opensans;
}

h1, h2, h3, h4, h5, .btn, .nav {
  font-family: "Varela Round", "Proxima Nova Soft", ProximaSoft, Montserrat, Arial;
}

header, section, footer {
  position: relatve; width: 100%; overflow: hidden;
  padding: 60px;
  text-align: center;
}

.transition {
  transition: all .25s ease;
  -webkit-transition: all .25s ease;
}

.button {
  @include button-subtle($dark);
  @extend .button-large;
  @extend .button-rounded;
  margin-right: 0.2em;
}

.dark-text-shadow {
  text-shadow: rgba(41, 52, 63, 0.4) 0px -1px 0px;
}

ul.details {
    border-top: 1px dotted;
    margin: 1em 2em;
    li {
        padding: .5em;
        border-bottom: 1px dotted;
    }
}

.tech attr {
  text-shadow: none;
  padding: 6px;
  border-radius: 4px;
  font-size: 24px;
  margin: 0 0.5em;
}

// Loading
progress[data-status='empty'] { display: none; }
progress[data-status='loading'] { display: block; }
progress[data-status='done'] { display: none; }

// Snow
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%!important;
  width: 100%;
  z-index: 0;
}

// Slider
#billboard {
  // Moon
  .halfCircle{
    height:45px;
    width:90px;
    border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 90px 0 0;
    background: green;
  }
}

// Banner
#mhacks {
  color: #FEC00F;
  background: #646464;
  display: block;
  line-height: 66px;
  padding: 0 30px;
  cursor: pointer;
  transition: background 0.25s ease-in;
  -webkit-transition: background 0.25s ease-in;
  @extend .hidden-mobile;
  &:hover {
    background: darken(#646464, 25%);
  }
 i {
    font-size: 30px;
    padding-right: 20px;
  }
}


// Header
header#top {
  color: white;
  padding: 160px 60px;
  // -> Look Ma, No Images!
  // background: url(../shutter/pattern-triangles.png) $purple;
  background-color: lighten(#64B4B0, 10%);
  background-image: repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: cover;
  background-repeat: repeat;
  text-shadow: 0 0 4px rgba(0,0,0,.5);
  p {
    @extend p.lead;
    font-size: 40px;
    position: relative;
  }
  h1 {
    font-weight: bold;
    font-size: 80px;
    position: relative;
    span {
      opacity: 0.2;
      text-shadow: none;
    }
    form {
      opacity: 1;
      display: block;
    }
    input {
      background: none;
      text-shadow: inherit;
      border: none;
      font: inherit;
      line-height: inherit;
      text-align: center;
      display: block;
      color: inherit;
      outline: none;
      width: 100%;
      position: relative;
      margin-top: -1.2em;
      &::-webkit-input-placeholder {
        color: white;
        opacity: 1;
      }
      &:-moz-input-placeholder {
        color: white;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: white;
        opacity: 1;
      }
    }
    input[type="submit"] {
      display: none;
    }
  }
  a {
    position: absolute;
    bottom: 20px;
    color: white;
    line-height: 35px;
    height: 50px;
    width: 50px;
    margin-left: -25px;
    border-radius: 200px;
    border: $thickness solid rgba(255,255,255,.2);
    font-size: 30px;
    @extend .transition;
    &:hover {
      line-height: 50px;
      background: rgba(0,0,0,.5);
      border: $thickness solid rgba(255,255,255,.5);
    }
  }
}

// About
section#about {
  color: white;
  background: $purple; //#0099B5;
  animation: colors 20s infinite;
  -webkit-animation: colors 20s infinite;
  @extend .dark-text-shadow;
  figure {
    @extend .col4;
    animation: fade-in-bottom 0.5s;
    -webkit-amimation: fade-in-bottom 0.5s;
    position: relative;
    height: 100%;
    display: table-cell;
    a {
      @include button-subtle($purple);
      /// @extend .button-large;
      // @extend .button-rounded;
      margin: auto;
      transition: all 0.2s;
      position: absolute;
      // width: 100%;
      left: 0;
      bottom: 12px;
      opacity: 0;
      @extend .fade-in-top-transition;
      animation: colors 20s infinite;
      -webkit-animation: colors 20s infinite;
    }
    &:hover a {
      opacity: 1;
      @extend .fade-in-top-transition-hover;
    }
    img {
      position: absolute;
      left: 0px;
      top: 0px;
      height: auto;
      overflow: visible;
      width: 100%;
      -webkit-filter: drop-shadow( 0 0 8px rgba(0,0,0,.5) );
      filter: drop-shadow( 0 0 8px rgba(0,0,0,.5) ); // Same syntax as box-shadow
      opacity: 0;
      margin: -45px 0px 0px 0px!important;
      padding-top: 300px;
      transition: opacity 0.7s 0.25s, margin 0.8s 0.25s, padding 0.8s 0.25s;
    }
  }
  &.visible {
    img {
      opacity: 1;
      margin: 0px 0px 0px 0px;
      padding-top: 0px;
    }
  }
}

// Social
section#social {
  background: black;
  padding: 0;
  a {
    border-radius: 0px;
    display: inline-block;
    width: 33.33333%;
    color: white;
    padding: 20px 0px;
    transition: all 0.2s;
    i {
      @extend .transition;
      float: left;
      font-size: 60px;
      line-height: 60px;
      margin-left: 20%;
    }
    span {
      @extend .transition;
      display: block;
    }
    // Almost-Infinite Southeast Flat Shadow
    // -> Todo: Create Sass @mixin to automate the process!
      &.twitter {
        background: #00acee; text-shadow: #0094CD 1px 1px, #0094CD 2px 2px, #0094CD 3px 3px, #0094CD 4px 4px, #0094CD 5px 5px, #0094CD 6px 6px, #0094CD 7px 7px, #0094CD 8px 8px, #0094CD 9px 9px, #0094CD 10px 10px, #0094CD 11px 11px, #0094CD 12px 12px, #0094CD 13px 13px, #0094CD 14px 14px, #0094CD 15px 15px, #0094CD 16px 16px, #0094CD 17px 17px, #0094CD 18px 18px, #0094CD 19px 19px, #0094CD 20px 20px, #0094CD 21px 21px, #0094CD 22px 22px, #0094CD 23px 23px, #0094CD 24px 24px, #0094CD 25px 25px, #0094CD 26px 26px, #0094CD 27px 27px, #0094CD 28px 28px, #0094CD 29px 29px, #0094CD 30px 30px, #0094CD 31px 31px, #0094CD 32px 32px, #0094CD 33px 33px, #0094CD 34px 34px, #0094CD 35px 35px, #0094CD 36px 36px, #0094CD 37px 37px, #0094CD 38px 38px, #0094CD 39px 39px, #0094CD 40px 40px, #0094CD 41px 41px, #0094CD 42px 42px, #0094CD 43px 43px, #0094CD 44px 44px, #0094CD 45px 45px, #0094CD 46px 46px, #0094CD 47px 47px, #0094CD 48px 48px, #0094CD 49px 49px, #0094CD 50px 50px, #0094CD 51px 51px, #0094CD 52px 52px, #0095CE 53px 53px, #0095CF 54px 54px, #0096D0 55px 55px, #0097D1 56px 56px, #0097D2 57px 57px, #0098D2 58px 58px, #0098D3 59px 59px, #0099D4 60px 60px, #009AD5 61px 61px, #009AD6 62px 62px, #009BD7 63px 63px, #009CD8 64px 64px, #009CD8 65px 65px, #009DD9 66px 66px, #009DDA 67px 67px, #009EDB 68px 68px, #009FDC 69px 69px, #009FDD 70px 70px, #00A0DD 71px 71px, #00A0DE 72px 72px, #00A1DF 73px 73px, #00A2E0 74px 74px, #00A2E1 75px 75px, #00A3E2 76px 76px, #00A4E3 77px 77px, #00A4E3 78px 78px, #00A5E4 79px 79px, #00A5E5 80px 80px, #00A6E6 81px 81px, #00A7E7 82px 82px, #00A7E8 83px 83px, #00A8E8 84px 84px, #00A8E9 85px 85px, #00A9EA 86px 86px, #00AAEB 87px 87px, #00AAEC 88px 88px, #00ABED 89px 89px, #00ACEE 90px 90px;
          &:hover { background: lighten(#00acee, 10%); }
      }
      &.gplus {
        background: #dd1812; text-shadow: #BE150F 1px 1px, #BE150F 2px 2px, #BE150F 3px 3px, #BE150F 4px 4px, #BE150F 5px 5px, #BE150F 6px 6px, #BE150F 7px 7px, #BE150F 8px 8px, #BE150F 9px 9px, #BE150F 10px 10px, #BE150F 11px 11px, #BE150F 12px 12px, #BE150F 13px 13px, #BE150F 14px 14px, #BE150F 15px 15px, #BE150F 16px 16px, #BE150F 17px 17px, #BE150F 18px 18px, #BE150F 19px 19px, #BE150F 20px 20px, #BE150F 21px 21px, #BE150F 22px 22px, #BE150F 23px 23px, #BE150F 24px 24px, #BE150F 25px 25px, #BE150F 26px 26px, #BE150F 27px 27px, #BE150F 28px 28px, #BE150F 29px 29px, #BE150F 30px 30px, #BE150F 31px 31px, #BE150F 32px 32px, #BE150F 33px 33px, #BE150F 34px 34px, #BE150F 35px 35px, #BE150F 36px 36px, #BE150F 37px 37px, #BE150F 38px 38px, #BE150F 39px 39px, #BE150F 40px 40px, #BE150F 41px 41px, #BE150F 42px 42px, #BE150F 43px 43px, #BE150F 44px 44px, #BE150F 45px 45px, #BE150F 46px 46px, #BE150F 47px 47px, #BE150F 48px 48px, #BE150F 49px 49px, #BE150F 50px 50px, #BE150F 51px 51px, #BE150F 52px 52px, #BF150F 53px 53px, #C0150F 54px 54px, #C1150F 55px 55px, #C1150F 56px 56px, #C2150F 57px 57px, #C3150F 58px 58px, #C4150F 59px 59px, #C5150F 60px 60px, #C5150F 61px 61px, #C6150F 62px 62px, #C7150F 63px 63px, #C81610 64px 64px, #C91610 65px 65px, #C91610 66px 66px, #CA1610 67px 67px, #CB1610 68px 68px, #CC1610 69px 69px, #CD1610 70px 70px, #CD1610 71px 71px, #CE1610 72px 72px, #CF1610 73px 73px, #D01610 74px 74px, #D11610 75px 75px, #D11610 76px 76px, #D21711 77px 77px, #D31711 78px 78px, #D41711 79px 79px, #D51711 80px 80px, #D51711 81px 81px, #D61711 82px 82px, #D71711 83px 83px, #D81711 84px 84px, #D91711 85px 85px, #D91711 86px 86px, #DA1711 87px 87px, #DB1711 88px 88px, #DC1711 89px 89px, #DD1812 90px 90px;
          &:hover { background: lighten(#dd1812, 10%); }
      }
      &.devart {
        background: #4e6252; text-shadow: #435447 1px 1px, #435447 2px 2px, #435447 3px 3px, #435447 4px 4px, #435447 5px 5px, #435447 6px 6px, #435447 7px 7px, #435447 8px 8px, #435447 9px 9px, #435447 10px 10px, #435447 11px 11px, #435447 12px 12px, #435447 13px 13px, #435447 14px 14px, #435447 15px 15px, #435447 16px 16px, #435447 17px 17px, #435447 18px 18px, #435447 19px 19px, #435447 20px 20px, #435447 21px 21px, #435447 22px 22px, #435447 23px 23px, #435447 24px 24px, #435447 25px 25px, #435447 26px 26px, #435447 27px 27px, #435447 28px 28px, #435447 29px 29px, #435447 30px 30px, #435447 31px 31px, #435447 32px 32px, #435447 33px 33px, #435447 34px 34px, #435447 35px 35px, #435447 36px 36px, #435447 37px 37px, #435447 38px 38px, #435447 39px 39px, #435447 40px 40px, #435447 41px 41px, #435447 42px 42px, #435447 43px 43px, #435447 44px 44px, #435447 45px 45px, #435447 46px 46px, #435447 47px 47px, #435447 48px 48px, #435447 49px 49px, #435447 50px 50px, #435447 51px 51px, #435447 52px 52px, #435447 53px 53px, #435547 54px 54px, #445548 55px 55px, #445548 56px 56px, #445648 57px 57px, #445648 58px 58px, #455649 59px 59px, #455749 60px 60px, #455749 61px 61px, #46574A 62px 62px, #46584A 63px 63px, #46584A 64px 64px, #46594A 65px 65px, #47594B 66px 66px, #47594B 67px 67px, #475A4B 68px 68px, #485A4C 69px 69px, #485A4C 70px 70px, #485B4C 71px 71px, #485B4C 72px 72px, #495B4D 73px 73px, #495C4D 74px 74px, #495C4D 75px 75px, #4A5C4E 76px 76px, #4A5D4E 77px 77px, #4A5D4E 78px 78px, #4A5E4E 79px 79px, #4B5E4F 80px 80px, #4B5E4F 81px 81px, #4B5F4F 82px 82px, #4C5F50 83px 83px, #4C5F50 84px 84px, #4C6050 85px 85px, #4C6050 86px 86px, #4D6051 87px 87px, #4D6151 88px 88px, #4D6151 89px 89px, #4E6252 90px 90px;
          &:hover { background: lighten(#4e6252, 10%); }
      }
    &:hover i, &:hover span {
      transform: translate(0px,-2px);
      -webkit-transform: translate(0px,-2px);
    }
  }

}

// Unicorn!
// -> Bonus points if you know where the TERM came from (Hint: It's *NOT* MLP.)
#unicorn {
  background: #5E4FA2;
  background: linear-gradient(#5E4FA2, darken(#5E4FA2, 20%));
  color: white;
  @extend .dark-text-shadow;
  i.icon-colt-horn {
    position: relative;
    display: inline-block;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transform: rotate(0) scale(1) translate(0,0);
    -webkit-transform: rotate(0) scale(1) translate(0,0);
  }
  .stickem-container {
    height: 800px;
    display: block;
  }
  .browser {
    text-shadow: none;
    max-width: 850px;
    margin: auto;
    margin-top: 20px;
    b {
      font-weight: bold;
    }
  }
  .frame {
  font-family: Arial;
    nav.navbar {
      display: block;
      background: linear-gradient(rgb(80,80,80),rgb(0,0,0));
      opacity: 0;
      transform: scale(1.3) translate(0,-20%);
      -webkit-transform: scale(1.3) translate(0,-20%);
      transition: all .5s .7s ease-out;
      -webkit-transition: all .5s .7s ease-out;
      overflow: hidden;
      height: 48px;
      vertical-align: middle;
     a {
        color: white;
        padding: 0 16px;
        line-height: 48px;
        font-size: 18px;
        &.brand {
          font-size: 24px;
          padding-left: 20px;
        }
      }
    }
    .notice {
      margin: 0px 20px 0px 20px;
      background: rgb(0,90,120);
      color: white;
      padding: 10px;
      border-radius: 4px;
      font-size: 12px;
      opacity: 0;
      line-height: 0px;
      transform: scale(.8) translate(0,-20%);
      -webkit-transform: scale(.8) translate(0,-20%);
      filter: blur(1px);
      -webkit-filter: blur(1px);
      transition: all .3s 3.3s ease;
      -webkit-transition: all .3s 3.3s ease;
    }
    article {
      margin: 0px 20px 5px 20px;
      padding: 0px;
      border-radius: 4px;
      font-size: 12px;
      line-height: 1.8em;
      color: black;
      p {
        padding: 22px 10px;
        transition: all 0.5s 1.3s ease;
        -webkit-transition: all 0.5s 1.3s ease;
        transform: rotate(0) scale(1) translate(0,20%);
        -webkit-transform: rotate(0) scale(1) translate(0,20%);
        opacity: 0;
      }
      .span4 {
        padding: 8px;
        border-radius: 4px;
        box-shadow: 0 0 2px gray;
        transition: all 0.4s 2s ease-out;
        -webkit-transition: all 0.4s 2s ease-out;
        transform: translate(0,20%);
        -webkit-transform: translate(0,20%);
        opacity: 0;
        &:nth-child(2) {
          transition-delay: 2.3s;
          -webkit-transition-delay: 2.3s;
        }
        &:nth-child(3) {
          transition-delay: 2.6s;
          -webkit-transition-delay: 2.6s;
        }
        .thumbnail {
          display: block;
          height: 150px;
          margin-bottom: 0.5em;
          background: lightGray;
        }
      }
      a {
        @include button-border(#005a78);
        // @extend .button-large;
        // @extend .button-rounded;
        background: white;
        border-radius: 4px;
      }
    }
    aside {
      margin: 20px;
      background: white;
      color: black;
      padding: 0px;
      box-shadow: 0 0 0 10px white;
      border-radius: 4px;
      font-size: 12px;
      line-height: 1.8em;
      opacity: 0;
      transition: all 0.5s 2.9s ease;
      -webkit-transition: all 0.5s 2.9s ease;
      transform: translate(-50%,100%) scale(.8);
      -webkit-transform: translate(-50%,100%) scale(.8);
      strong {
        color: black;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.8em;
        margin-bottom: 1em;
        border-bottom: 1px solid lightGray;
        display: block;
      }
      a {
        color: $red;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &.visible {
    i.icon-colt-horn {
      animation: radiance 8s ease infinite;
      -webkit-animation: radiance 8s ease infinite;
      transform: rotate(-30deg) scale(2) translate(-45px,5px);
      -webkit-transform: rotate(-30deg) scale(2) translate(-45px,5px);
    }
    .frame {
      nav.navbar {
        opacity: 1;
        transform: scale(1) translate(0,0%);
        -webkit-transform: scale(1) translate(0,0%);
      }
      .notice {
        margin: 20px 20px 0px 20px;
        line-height: 1.8em;
        opacity: 1;
        transform: translate(0,0) scale(1);
        -webkit-transform: translate(0,0) scale(1);
        filter: blur(0px);
        -webkit-filter: blur(0px);
      }
      article {
        p {
          opacity: 1;
          transform: scale(1) translate(0,0%);
          -webkit-transform: scale(1) translate(0,0%);
        }
        .span4 {
          opacity: 1;
          transform: translate(0,0%);
          -webkit-transform: translate(0,0%);
        }
      }
      aside {
        opacity: 1;
        transform: scale(1) translate(0,0%);
        -webkit-transform: scale(1) translate(0,0%);
      }
    }
  }
}

// Hackerchat
#hackerchat {
  background: url("../shutter/pattern-dark-matter.png") black;
  background-repeat: repeat;
  color: #C8C8C8;
  .browser {
    @extend .col5;
    iframe {
      width: 100%;
      height: 380px;
      margin-bottom: -8px;
    }
  }
  article {
    @extend .col7;
    a {
      @include button-gradient($green);
      @extend .button-jumbo;
    }
  }
  .pilot {
    color: inherit;
    position: absolute;
    bottom: 20px;
    right: 20px;
    span {
      margin-top: 2em;
      @extend .transition;
      opacity: 0;
      -webkit-transform: translate(-20%,0);
      transform: translate(-20%,0);
      display: inline-block;
      padding-right: 20px;
    }
    i.icon-pilotphilly {
      float: right;
      font-size: 120px;
      @extend .transition;
      opacity: 0.5;
      transform: rotate(-20deg);
      -webkit-transform: rotate(-20deg);
    }
    &:hover {
      span {
        opacity: 1;
        -webkit-transform: translate(0,0);
        transform: translate(0,0);

      }
      i.icon-pilotphilly {
        opacity: 1;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
      }
    }
  }
}

// Science
#science {
  article {
    @extend .col4;
    @extend .tile;
  }
}

// Footer
footer {
  background: $wet-asphalt;
  color: $clouds;
  text-align: left;
  overflow: hidden;
  // Background Effect
  // -@ http://stackoverflow.com/questions/3032856/z-index-of-before-or-after-to-be-below-the-element-is-that-possible
  position: static;
  a {
    color: $clouds;
    &:hover {
      color: $green-sea;
    }
  }
  .skyward {
    float: right;
    color: $clouds;
    position: relative;
    i.icon-tardis {
      position: absolute;
    }
    i.icon-tardis:before {
      position: absolute;
      font-size: 300px;
      margin-top: -60px;
      margin-left: -110px;
      z-index: 5;
      opacity: 0.6;
      transform: rotate(-15deg);
      transition: all 0.25s;
      -webkit-transform: rotate(-15deg);
      -webkit-transition: all 0.25s;
    }
    &:hover i.icon-tardis:before {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1;
      color: $tardis;
      text-shadow: 0 0 50px white;
      background: radial-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
    }
    span {
      margin-right: 140px;
      @include button-subtle($dark);
      @extend .button-large;
      @extend .button-rounded;
    }
  }
  aside {
    a {
      position: relative;
      z-index: 5;
    }
    i.icon-network {
      position: relative;
      z-index: 1;
      display: inline-block;
      position: relative;
      width: 30px;
      height: 1em;
      text-align: center;
      text-transform: none;
      color: $red;
      width: 30px;
      margin-right: 20px;
      z-index: 0;
      i.icon-heart {
        &:before {
          animation: heartbeat 1s infinite;
          -webkit-animation: heartbeat 1s infinite;
          position: absolute;
        }
      }
      &:before {
        // animation: orbit 1s infinite;
        // -webkit-animation: orbit 1s infinite;
        position: absolute;
        z-index: -1;
        zoom: 100%;
        font-size: 226px;
        margin-left: -107px;
        margin-top: 15px;
        vertical-align: top;
        line-height: 22px;
        text-align: center;
        opacity: 0.3;
        color: $clouds;
      }
    }
  }
}

// MHacks Modal
modal#likemystatus window {
  top: 10%;
  vertical-align: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  bottom: 10%;
}

// Credits
modal#credits window {
  background: $midnight-blue;
  color: $white;
  .content a {
    color: $white;
    transition: padding 0.2s;
    -webkit-transition: padding 0.2s;
    line-height: 1.8em;
    &:hover {
      color: $green-sea;
      padding-left: 20px;
    }
  }
}

// Mobile
@media only screen and (max-width: $mobile) {
  body {
    padding-left: 0px;
  }
  .hidden-mobile, canvas, iframe, .browser, #about figure, .stickem-container {
    display: none!important;
  }
  header, section, footer {
    position: relatve; width: 100%; overflow: hidden;
    padding: 20px 5px;
    text-align: center;
  }
  header#top {
    padding: 50px 10px 72px 10px;
    h1 {
      font-size: 50px;
      line-height: 1em;
      span {
        opacity: 1!important;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.5)!important;
      }
    }
    form {
      display: none!important;
    }
    p {
      font-size: 20px;
    }
  }
  #social a {
    display: block!important;
    width: 100%!important;
    text-shadow: none!important;
  }
  .skyward {
    float: none;
    display: block;
    width: 100%;
    z-index: 5;
    margin-bottom: 1em;
    i.icon-tardis {
      display: none;
    }
    span {
      margin-right: 0px!important;
      display: block;
      width: 100%;
      padding: 12px!important;
      font-size: 30px;
    }
  }
}

// Hmm...
body.inthetardis { // , body.menu-expanded {
  background: $dark;
  background: linear-gradient(#81375C, #624C73, #1F2643, #16223C, #27324E, #1A344B);
  // transition: background 0.5s ease-in;
  // -webkit-transition: background 0.5s ease-in;
  header, section {
    animation: inthetardis 4s ease;
    -webkit-animation: inthetardis 4s ease;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    background: $light;
    transition: box-shadow 0.5s ease;
    -webkit-transition: box-shadow 0.5s ease;
  }
  i.icon-tardis {
    position: fixed!important;
    bottom: 120px!important;
    right: 80px!important;
    color: $tardis!important;
    text-shadow: 0 0 50px white;
    opacity: 1!important;
    animation: shimmydown 4s linear;
    -webkit-animation: shimmydown 4s linear;
  }
}
// Mobile Emulator
html.mobile, body.mobile {
  background-color: $wet-asphalt;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 20px black;
}

// Reset
body.reset {
  background: white!important;
  *, *:before, *:after {
    background: white!important;
    margin: 0!important;
    padding: 0!important;
    position: static!important;
    color: black!important;
    display: block!important;
    clear: both!important;
    text-shadow: none!important;
    box-shadow: none!important;
    text-align: left!important;
    clear: both!important;
    float: initial!important;
    min-width: 0!important;
    min-height: 0!important;
    width: auto!important;
    height: auto!important;
    top: 0!important;
    left: 0!important;
    bottom: 0!important;
    right: 0!important;
    font-family: "Times New Roman", monospace!important;
    visibility: visible!important;
    opacity: 1!important;
    line-height: 1.5em!important;
    animation: none!important;
    transition: none!important;
    transform: none!important;
    -webkit-animation: none!important;
    -webkit-transition: none!important;
    -webkit-transform: none!important;
  }
  a, a * {
    color: blue!important;
    text-decoration: underline!important;
  }
  window, modal, canvas, iframe, li.bottom {
    display: none!important;
  }
}