/*
Syntax error: Invalid CSS after "  @include ": expected identifier, was ".dark-text-shadow;"
        on line 1433 of /Users/Bro/Developer/lablayers.github.io/design/home.scss

Backtrace:
/Users/Bro/Developer/lablayers.github.io/design/home.scss:1433
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1146:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1084:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1079:in `tok!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:190:in `include_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:174:in `special_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:146:in `directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:553:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:545:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:534:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:528:in `ruleset'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:552:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:545:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:82:in `stylesheet'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:27:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:342:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:315:in `_render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:262:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:126:in `timed'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:139:in `block in compile'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/logger.rb:45:in `red'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:138:in `compile'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:118:in `compile_if_required'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:101:in `each'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:101:in `block in run'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:126:in `timed'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/compiler.rb:100:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/commands/update_project.rb:45:in `perform'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/commands/base.rb:18:in `execute'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/commands/project_base.rb:19:in `execute'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Applications/CodeKit.app/Contents/Resources/engines/compass/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Applications/CodeKit.app/Contents/Resources/engines/compass/bin/compass:44:in `block in <main>'
/Applications/CodeKit.app/Contents/Resources/engines/compass/bin/compass:58:in `call'
/Applications/CodeKit.app/Contents/Resources/engines/compass/bin/compass:58:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  @include \": expected identifier, was \".dark-text-shadow;\"\A         on line 1433 of /Users/Bro/Developer/lablayers.github.io/design/home.scss"; }
