@font-face {
    font-family: 'Open Sans';
        src:url('/fonts/fonts_cache/OpenSans.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Varela Round';
        src:url('/fonts/fonts_cache/Varela.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}