// Super Awesome Button Framework by me!
// -@ http://codepen.io/LabLayers/pen/vFfJm

// Variables
// $skyblue: #02adea;
// $skyorange: #ff6600;

// Base Button
.button {
  color: inherit;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 1em;
  margin: 0.2em auto;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background: none;
}

// Mixins
@mixin button($color) {
  @extend .button;
  background: $color;
}

@mixin button-border($color) {
  @extend .button;
  border-radius: 0px;
  color: $color;
  border: 1px solid $color;
  &:hover {
    background: $color;
    color: white;
  }
}

@mixin button-flat($color) {
  @extend .button;
  background: $color;
  color: white;
  transition: background-color .4s;
  &:hover {
    background-color: lighten($color, 12%);
  }
  &:active, &:focus {
    background-color: darken($color, 15%);
  }
}

@mixin button-emphasis($color) {
  @extend .button;
  background: $color;
  color: white;
  transition: background-color .2s, box-shadow .1s;
  box-shadow: 0 0 5px rgba($color, 0.7), 0 0 10px rgba($color, 0.5);
  text-shadow: 0px 1px 2px rgba(darken($color, 50%), 0.8);
  &:hover {
    box-shadow: 0 0 5px rgba($color, 0.7), 0 0 20px rgba(darken($color, 10%), 0.8);
    background-color: lighten($color, 8%);
  }
  &:active, &:focus {
    box-shadow: 0 0 5px rgba($color, 0.7), 0 0 20px rgba(darken($color, 10%), 0.9);
    background-color: darken($color, 8%);
  }
}

@mixin button-gradient($color) {
  @extend .button;
  color: white;
  background: linear-gradient(color-stops($color, darken($color,20%) ));
  text-shadow: 0 2px 1px rgba(0,0,0,.2);
  transition: box-shadow .05s ease;
  &:hover {
    box-shadow: inset 0 0 500px rgba(255,255,255,.25);
  }
  &:active, &:focus {
    box-shadow: inset 0 0 500px rgba(50,50,50,.2);
  }
}

@mixin button-shadow($color) {
  @extend .button;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.498);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7) inset, 0px 1px 0px rgba(255,255,255,.75);
  background: $color;
  border: 1px solid rgba(0, 0, 0, 0.4);
  &:hover {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3));
  }
  &:active, &:focus {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5));
  }
}

@mixin button-lift($color) {
  @extend .button;
  background: $color;
  color: white;
  transition: background-color .2s, box-shadow .1s;
  box-shadow: 0px -2px rgba(0, 0, 0, 0.1) inset, 0px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 2px rgba(0, 0, 0, 0.2);
  &:hover {
    box-shadow: 0px -2px rgba(0, 0, 0, 0.1) inset, 0px 3px rgba(0, 0, 0, 0.2);
    background-color: lighten($color, 12%);
  }
  &:active, &:focus {
    box-shadow: 0px -3px rgba(0, 0, 0, 0.1) inset, 0px 0px rgba(0, 0, 0, 0.2);
    background-color: darken($color, 8%);
  }
}

@mixin button-inset($color) {
  @extend .button;
  background: $color;
  color: white;
  transition: background-color .2s, box-shadow .1s;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2), 0 0 0 2px rgba(255, 255, 255, 0.2);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  &:hover {
    box-shadow: inset 0 0 0 2px rgba(100, 100, 100, 0.2), 0 0 0 2px rgba(255, 255, 255, 0.2);
    background-color: lighten($color, 8%);
  }
  &:active, &:focus {
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5), 0 0 0 2px rgba(255, 255, 255, 0.2);
    background-color: darken($color, 8%);
  }
}

@mixin button-subtle($color) {
  @extend .button;
  background: $color;
  color: white;
  border: 1px solid darken($color, 20%);
  transition: background-color .15s;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
  &:hover {
    background-color: lighten($color, 8%);
  }
  &:active, &:focus {
    background-color: darken($color, 8%);
  }
}

// Extenders
.button-block {
  display: block;
}

.button-rounded {
  border-radius: 6px;
}

.button-circle {
  border-radius: 300px;
}

.button-large {
  font-size: 18px;
  line-height: 1.2em;
}

.button-jumbo {
  font-size: 24px;
  line-height: 2.6em; //1.2em;
  padding: 0 16px; // 20px 14px;
}

.button-jumbo-prefix {
  display: inline-block!important;
  line-height: inherit!important;
  float: left!important;
  background: rgba(255,255,255,0.4);
  margin: 0px 16px 0px -16px;
  padding: 0px 16px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid rgba(0,0,0,.45);
}