// Tooltips, my way!

attr {
    position: relative;
    z-index: 1;
    transition: background 0.2s ease, color 0.2s ease;
    -webkit-transition: background 0.2s ease, color 0.2s ease;
    &:hover {
        background: rgba(0,0,0,.5);
        color: white;
    }
    tooltip {
        position: absolute;
        top: 2em;
        left: 0px;
        border-radius: 4px;
        z-index: 5;
        visibility: hidden;
        // display: none;
        color: black;
        background: linear-gradient(white, rgb(200,200,200));
        box-shadow: 0 0 20px rgba(0,0,0,.5);
        opacity: 0;
        -webkit-user-select: none;
        cursor: default;
        transform: translateY(12px);
        -webkit-transform: translateY(12px);
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent white transparent ;
            top: -20px;
            left: 30px;
        }
        &.dark {
            color: white;
            background: linear-gradient(rgba(0, 0, 0, 0.6), #000);
            box-shadow: 0px 0px 2px, rgba(255, 255, 255, 0.5) 0px 1px 0px inset;
            &:before {
                border-color: transparent transparent rgba(255,255,255,.4) transparent ;
            }
        }
        li {
            list-style: none;
            padding: 2px 14px;
            font-size: 14px;
            line-height: 1.5em;
            border-bottom: 1px solid rgba(200,200,200,.5);
            display: block;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    &:hover tooltip {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
        visibility: visible;
        display: block;
    }
}