// Original Grid System by Victor Lourng
// -> Will likely switch to flexbox once a polyfill is released!

// Define a Row 
.row{display:inline-table;width:100%;height:100%;position:relative;clear:both;}

// Responsive Columns
.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col12{float:left;box-sizing:border-box}
.col,[class*="col"]{margin-left:1.5%}
.col:first-child,[class*="col"]:first-child{margin-left:0}
.col1{width:6.95833333333%}.col2{width:15.4166666667%}.col3{width:23.875%}.col4{width:32.3333333333%}.col5{width:40.7916666667%}.col6{width:49.25%}.col7{width:57.7083333333%}.col8{width:66.1666666667%}.col9{width:74.625%}.col10{width:83.0833333333%}.col11{width:91.5416666667%}.col12{width:100%;margin-left:0}.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}
.col2, .col3 {min-width:30px;}
.col4, .col5 {min-width:50px;}
.col6, .col7, .col8, .col9, .col10, .col11, .col12 {min-width:100px;}

@media only screen and (max-width: $mobile) {
    .col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col12{display:block;width:100%}
}

// Non-Responsive Columns
.span,[class*="span"]{margin-left:1.5%}
.span:first-child,[class*="span"]:first-child{margin-left:0}
.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10,.span11,.span12{float:left;box-sizing:border-box}
.span,[class*="span"]{margin-left:1.5%}.span:first-child,[class*="span"]:first-child{margin-left:0}
.span1{width:6.95833333333%}.span2{width:15.4166666667%}.span3{width:23.875%}.span4{width:32.3333333333%}.span5{width:40.7916666667%}.span6{width:49.25%}.span7{width:57.7083333333%}.span8{width:66.1666666667%}.span9{width:74.625%}.span10{width:83.0833333333%}.span11{width:91.5416666667%}.span12{width:100%;margin-left:0}.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}
.span2, .span3 {min-width:30px;}
.span4, .span5 {min-width:50px;}
.span6, .span7, .span8, .span9, .span10, .span11, .span12 {min-width:100px;}

// Additional Floats
.left {float:left;} .right {float:right;} .clear {clear:both;}

// Container 
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 860px;
}

.heightfix {
  position: relative;
  height: 100%;
}