// Acual Variables
// -> The real stuff.

$fonts: 'Proxima', 'Proxima Nova', Arial;
$serif: Georgia;
$monospace: 'Menlo', 'Consolas', 'Courier New', 'Ubuntu Mono', monospace;

// More copyrighted fonts. Sorry everyone. :(
$proxima: 'Proxima', 'Proxima Nova', Arial;
$proximasoft: 'ProximaSoft', 'Proxima Nova Soft', 'Proxima', 'Proxima Nova', Arial;
$snow: Snow, Arial;

// Okay, these are free fonts
$opensans: 'Open Sans', $fonts;
$museo: "Museo Slab", $fonts;
$museo: "Gentium Book Basic", $serif;
$abril: "Abril Fatface", $serif;
$kreon: "Kreon", $serif;
$abril: "Abril Fatface", Impact, $serif;
$celestia: "CelestiaRedux", $serif;
$reklame: ReklameScript, "Bursh Script MT", $fonts;
$satisfy: Satisfy, "Bursh Script MT", $fonts;
// One can Metro UI the crap up out of this with the change of a variable.
$border-radius: 4px;

// Font size
$font-size: 18px;

// Mobile viewports
$mobile: 780px;
$palm: 400px;