// WebTunes Mini
// -@ Victor Lourng
// -> http://trumpet-sugarplums.rhcloud.com/

.webtunes_container {
    background: white;
    padding: 0px;
    display: block;
    position: relative;
    color: black;
    box-shadow: 0 0 12px rgba(0,0,0,.7);
    font-size: 12px;
    line-height: 1em;
    .controller {
        border-top: 1px solid rgb(252,252,252);
        background: linear-gradient(rgb(239,239,239) 0%, rgb(233,233,233) 15%, rgb(220,220,220) 50%, rgb(201,201,201) 80%, rgb(198,198,198) 100%);
        border-bottom: 1px solid rgb(185,185,185);
        width: 100%;
        position: relative;
        padding: 2px 0px;
        user-select: none;
        -webkit-user-select: none;
        display: table;
        width: 100%;
        .left {
            float: left;
            display: table-cell;
            width: 30%;
            font-size: 30px;
            text-align: left;
            padding-left: 40px;
            padding-top: 15px;
            padding-bottom: 10px;
            .prev, .play, .pause, .next {
                display: inline-block;
                line-height: 1em;
                cursor: pointer;
                background: none;
                border: none;
                // Shaders
                color: black;
                background: -webkit-linear-gradient(rgb(148, 148, 148),rgb(58, 58, 58));
                //  background: linear-gradient(rgb(90, 90, 90) 0%, rgb(131, 131, 131) 35%, rgb(123, 123, 123) 60%, rgb(91, 91, 91) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: none;
                -webkit-filter: drop-shadow(0px 1px rgba(255, 255, 255, 0.5));
                -webkit-backface-visibility: hidden;
            }
            div.pause {
                text-indent: -50px;
            }
            div.pause:after {
                postion: absolute;
                margin-left: 20px;
                left: 0px;
                content: '■';
                display: inline;
                opacity: 1;
                font-size: 30px;
                visibility: visible;
            }
        }
        .lcd {
            position: relative;
            width: 40%;
            display: table-cell;
            border-top: 1px solid rgb(120, 122, 127);
            background: linear-gradient(rgb(157,161,168)0%, rgb(191,195,199) 50%, rgb(213,219,223)85%, rgb(200,207,211) 95%);
            border-bottom: 1px solid rgb(234,234,234);
            border-left: 1px solid rgb(157,158,160);
            border-right: 1px solid rgb(157,158,160);
            box-shadow: inset 0 1px 0 0 rgba(100,100,100,0.3), inset 0 -2px 0 0 rgb(196,202,207), inset 0 0 4px 0 rgba(100,100,100,0.36), 0 1px 0 0 rgb(208,208,208);
            border-radius: 4px;
            text-shadow: 0px 1px 0px hsla(0, 0%, 0%, 0.1);
            .info {
                position: absolute;
                display: block;
                width: 100%;
                top: 0;
                padding: 4px;
            }
            .title {
                color: rgb(34, 34, 34);
                font-weight: bold;
            }
            .artist {
                display: inline-block;
                // margin: 0 4px;
                &:after {
                    content: "   -   ";
                }
            }
            .album {
                display: inline-block;
                // margin: 0 4px;
            }
            .playback {
                display: table;
                width: 100%;
                margin-bottom: 4px;
                .progress, .remaining {
                    display: table-cell;
                    // float: right;
                    text-align: center;
                    width: 25px;
                    font-size: 10px;
                    font-weight: bold;
                    color: rgb(59,59,59);
                    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
                    padding: 0px 10px;
                    line-height: 20px;
                    vertical-align: top;
                }
                .seeker, #playbackSliderFilled, #load_progress {
                    display: table-cell;
                    width: 100%;
                    height: 20px;
                }
            }
            
        }
        .search {
            display: table-cell;
            width: 30%;
            text-align: right;
            padding-right: 40px;
            vertical-align: middle;
            input {
                border-radius: 30px;
                border: none;
                box-shadow: inset 0 0 2px rgba(0,0,0,.8), 0 0 1px rgba(0,0,0,.8);
                font-size: 12px;
                line-height: 20px;
                height: 20px;
                left: 20px;
                padding: 0px 10px;
                &:focus {
                    outline: none;
                    box-shadow: inset 0 0 2px rgba(0,30,255,1), 0 0 4px rgba(0,30,255,1);
                }
            }
        }
        .controller[data-playing="none"] .lcd progress {
            display: none;
        }
    }
    .toolbar {
        text-align: left;
        padding: 4px 20px;
        background: rgb(104, 104, 104);
        background: linear-gradient(rgb(104, 104, 104),rgb(72, 72, 72),rgb(58, 58, 58));
        border-bottom: rgb(36,36,36);
        box-shadow: 0px 1px 2px rgba(0,0,0,.3);
        a {
            background: black;
            background: linear-gradient(rgb(148, 148, 148) 0%,rgb(130, 130, 130) 8%,rgb(107, 107, 107) 41%,rgb(69, 69, 69) 100%);
            color: rgb(247,247,247);
            border: 1px solid rgb(30,30,30);
            padding: 4px 8px;
            line-height: 1.25em;
            display: inline-block;
            border-radius: 4px;
            font-weight: bold;
            text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.7);
            cursor: pointer;
            -webkit-user-select: none;
            transition: none;
            -webkit-transition: none;
            &:active {
                box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.75);
                background: rgb(60, 60, 60);
                border: 1px solid rgb(15, 15, 15);
                text-shadow: 0px -1px rgba(0, 0, 0, 0.5);
            }
        }
    }
    .store {
        background: white;
        padding: 20px;
        text-align: left;
        font-size: 12px;
        line-height: 1.2em;
        .album {
            color: rgb(52,52,52);
            display: inline-block;
            margin: 0px 20px 20px 0px;
            width: 150px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            .thumbnail {
                display: block;
                width: 150px;
                height: 150px;
                box-shadow: 0px 3px 3px rgba(0,0,0,.25);
                background-size: cover;
                background-repeat: no-repeat;
                outline: solid hsla(0,0%,0%,0.3) 1px;
                outline-offset: -1px;
                position: relative;
                background: linear-gradient(rgb(243, 245, 247),rgb(214, 225, 233));
                margin-bottom: 0.7em;
                i {
                  color: rgb(205, 213, 216);
                  display: block;
                  font-size: 90px;
                  text-align: center;
                  line-height: 150px;
                  text-shadow: 0 1px rgba(255,255,255,.5), 0 -1px rgba(80,80,80,.3);
                }
            }
            .title {
                font-weight: bold;
            }
            .artist {
                color: rgb(152, 152, 152);
            }
            .album {
                color: rgb(152, 152, 152);
            }
        }
    }
}