@import url(http://fonts.googleapis.com/css?family=Satisfy);

@font-face {
    font-family: 'Satisfy';
         url('satisfy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}